@import url('gbrowse_autocomplete.css');

/* These are basic CSS rules shared by other stylesheets */
A:link            { text-decoration: none; 
                    color: #0000FF;
                  }
A:visited         { text-decoration: none; 
                    color: #AA0088;
                  }
A:hover           { text-decoration: underline; 
		    color: black;
		    background:lightsteelblue;
                  }
A.banner          { color  : #FFFFFF;
                    font-size : small;
                    text-decoration : none;
                  }
A.bblue           { color: #FFFFFF;
                    background-color: #9999FF;
                    font-size : small;
                    text-align: center;
                  }
A.bred            { color: #FFFFFF;
                    background-color: #FF6666;
                    font-size : small;
                    text-align: center;
		  }
BODY              { background-color: #F7FBFF;
                    font-family: sans-serif;
	            font-size: small;
                  }
DIV               { margin: 0 }
H1                { color: navy;
		    font-size: medium;
                    font-family: sans-serif; 
                  }
H2                { color: navy;
                    font-family: sans-serif; 
                  }
H3                { color: navy;
                    font-family: sans-serif; 
                  }
H4                { color: navy;
                    font-family: sans-serif; 
                  }
INPUT             { background-color: white; }
P                 { font-family: sans-serif; }
SELECT            { background-color: white; }
TABLE             { padding: 0;              }
TD                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
		  }
TH                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
                  }
table.padded-table td { padding-left:10px; padding-right:10px}
TH.linkmenu       { 
                    font-family: sans-serif;
                    padding: 0;
                    font-size: 9pt;
                  }
.reset_button     { color: red;           
		    font-weight: bold;
                  }
.technicalinfo    { background-color: #FFFFFF; }
.toggle           { color: #E0E0E0; }
.error            { color: red; }
.errorpanel       { background-color: lightyellow;    
		    margin:   -8px 8px  8px  -8px;
		  }
.note             { color: red; }
.pre              { font-family: monospace; }
.popup            { COLOR: #9F141A;
                    CURSOR: help;
                    TEXT-DECORATION: none
                  }
.ctl_visible,
.ctl_hidden       { z-index:10; }

span.tctl         { cursor: pointer }
.menutitle {
    color: blue;
    font-size: 10pt;
    background-color: transparent;
    font-weight: bold;
    font-family: sans-serif;
    cursor:        pointer;
    padding-top:   5px;
    padding-left:  5px;
    padding-right: 5px;
}
.menutitle:hover {
    text-decoration: underline;
}
img.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background-color: lightgray;
    border: double;
}