@import url('gbrowse.css');

/* These declarations give gbrowse a funky transparent look */

BODY              { background: url(../images/backgrounds/lrock005.jpg);
                    font-family: sans-serif;
	            font-size: small;
                  }
.datatitle        { background-color: rgba(224,224,224,0.4);
		   }
.databody         { background-color: rgba(240,240,240,0.4);
		  }
.multiplechoicetitle  { background-color: lightblue;
		        font-size: small;
}
.searchtitle      { background-color: rgb(240,240,240);
		    background:       url(/gbrowse2/images/buttons/grey_0.4_pixel.png);
		    background-color: rgba(240,240,240,0.4);
	            font-size: small;
		    margin-left:   1em;
		    margin-right:  1em;
}
.searchbody       { background-color: rgb(224,224,224);
		    background:       url(/gbrowse2/images/buttons/dark_0.4_pixel.png);
		    background-color: rgba(224,224,224,0.4);
		    margin-left:   1em;
		    margin-right:  1em;
		    margin-bottom: 3px;
	            font-size: small;
}
.settingstitle    { background-color: rgb(224,224,224);
		    background:       url(/gbrowse2/images/buttons/dark_0.4_pixel.png);
		    background-color: rgba(224,224,224,0.4);
		    margin-left:   1em;
		    margin-right:  1em;
	            font-size: small;
}
.settingsbody     { background-color: rgb(240,240,240);
		    background:       url(/gbrowse2/images/buttons/grey_0.4_pixel.png);
		    background-color: rgba(240,240,240,0.4);
		    margin-left:  1em;
		    margin-right: 1em;
	            font-size: small;
}
.uploadtitle      { background-color: rgb(224,224,224);
		    background:       url(/gbrowse2/images/buttons/dark_0.4_pixel.png);
		    background-color: rgba(224,224,224,0.4);
		    margin-left:  1em;
		    margin-right: 1em;
	            font-size: small;
}
.uploadbody       { background-color: rgb(240,240,240);
		    background:       url(/gbrowse2/images/buttons/grey_0.4_pixel.png);
		    background-color: rgba(240,240,240,0.4);
		    margin-left:   1em;
		    margin-right:  1em;
	            font-size: small;
}
