@import url('gbrowse.css');

/* These declarations give gbrowse a warm look */

BODY              { background-color: #F7FBFF;
                    font-family: sans-serif;
	            font-size: small;
                  }
.activeTrack      { 
    background-color: #F0A040;
    color:       white;
		  }
.track_title:hover {
    background-color: #F0A040;
    color:       white;
}
.datatitle        { background-color: khaki;      }
.databody         { background-color: lightgoldenrodyellow; }
.multiplechoicetitle  { background-color: lightblue;
		        font-size: small;
}
.searchtitle      { background-color: khaki;
	            font-size: small;
		    margin-left: 0em;
		    margin-right: 0em;
}
.searchbody       { background-color: beige;
	            font-size: small;
		    margin-left: 0em;
		    margin-bottom: 0px;
		    margin-right: 0em;
}
.settingstitle    { background-color: #E6EBF0;
	            font-size: small;
		    margin-left: 1em;
}
.settingsbody     { background-color: #F2F6FA;
	            font-size: small;
		    margin-left: 1em;
}
.uploadtitle      { background-color: #E6EBF0;
	            font-size: small;
		    margin-left: 1em;
}
.uploadbody       { background-color: #F2F6FA;
	            font-size: small;
		    margin-left: 1em;
}
.tabmenu_active   { cursor: pointer;
			color: black;
			background-color: beige;
			font-size: 11pt;
			font-weight: bold;
                        font-family: sans-serif;
			padding-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			border-top:  1px solid;
			border-left: 1px solid;
			border-right: 1px solid;
			border-bottom: 1px solid;
			border-bottom-color: beige;
			z-index: 10;
		      }
.tabmenu_inactive { cursor: pointer;
			color: blue;
			font-size: 11pt;
			background-color: transparent;
			font-weight: bold;
                        font-family: sans-serif;
			padding-top:   5px;
			padding-left:  5px;
			padding-right: 5px;
		      }
.tabmenu_inactive:hover {
     text-decoration: none;
     background-color: #F5F5BF;
}
.tabbed {
    background-color: transparent;
}
.tabmenu {
    background-color: transparent;
}
.tabbody {
    background-color: beige;
    padding-top: 5px;
    border:   1px solid;
}
.custom_track {
    padding: 0.25em;
    min-height: 2em;
    height: auto !important;
    height: 2em;
    background-color: lightblue;
}
.custom_track span.source_note {
    float: right;
    font-size: 16pt;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}
.uploaded_odd {
    background-color: lightblue;
}
.uploaded_odd span.source_note {
    color: #8AADB8;
}
.uploaded_even {
    background-color: paleturquoise;
}
.uploaded_even span.source_note {
    color: #8CBEBE;
}
.imported_odd {
    background-color: palegreen;
}
.imported_odd span.source_note {
    color: #7AC97A;
}
.imported_even {
    background-color: lightgreen;
}
.imported_even span.source_note {
    color: #73BE73;
}
.shared_even {
    background-color: pink;
}
.shared_even span.source_note {
    color: #CC8888;
}
.shared_odd {
    background-color: #FF7777;
}
.shared_odd span.source_note {
    color: LightPink;
}
.public_odd {
    background-color: #AAAAAA;
}
.public_odd span.source_note {
    color: #777777;
}
.public_even {
    background-color: #CCCCCC;
}
.public_even span.source_note {
    color: #999999;
}
