@import url('gbrowse_autocomplete.css');

/* These are basic CSS rules shared by other stylesheets */
A:link            { text-decoration: none; 
                    color: #0000FF;
                  }
A:visited         { text-decoration: none; 
                    color: #AA0088;
                  }
A:hover           { text-decoration: underline; 
		    color: black;
		    background:lightsteelblue;
                  }
A.banner          { color  : #FFFFFF;
                    font-size : small;
                    text-decoration : none;
                  }
A.bblue           { color: #FFFFFF;
                    background-color: #9999FF;
                    font-size : small;
                    text-align: center;
                  }
A.bred            { color: #FFFFFF;
                    background-color: #FF6666;
                    font-size : small;
                    text-align: center;
		  }
.track_label {
    cursor: pointer;
    color: black;
}
.track_label:hover {
    background:lightsteelblue;
}
.favorite {
    font-weight: bold;
}
.remote {
    font-style: italic;
}
.text_match {
    background-color:yellow;
}
BODY              { background-color: #F7FBFF;
                    font-family: sans-serif;
	            font-size: small;
                  }
DIV               { margin: 0 }
H1                { color: navy;
		    font-size: medium;
                    font-family: sans-serif; 
                  }
H2                { color: navy;
                    font-family: sans-serif; 
                  }
H3                { color: navy;
                    font-family: sans-serif; 
                  }
H4                { color: navy;
                    font-family: sans-serif; 
                  }
INPUT             { background-color: white; }
P                 { font-family: sans-serif; }
SELECT            { background-color: white; }
TABLE             { padding: 0;              }
TD                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
		  }
TH                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
                  }
table.padded-table td { padding-left:10px; padding-right:10px}
TH.linkmenu       { 
                    font-family: sans-serif;
                    padding: 0;
                    font-size: 9pt;
                  }
span.clickable {
    color: blue;
    cursor: pointer;
                  }
span.clickable:hover {
       text-decoration: underline;
    }
.reset_button     { color: red;           
		    font-weight: bold;
                  }
.technicalinfo    { background-color: #FFFFFF; }
.toggle           { color: #E0E0E0; }
.error            { color: red;
		    font-size: 16pt;
		    font-weight:bold;
		  }
.errorpanel       { background-color: lightyellow;    
		    margin:   -8px 8px  8px  -8px;
		  }
.note             { color: red; }
.pre              { font-family: monospace; }
.popup            { COLOR: #9F141A;
                    CURSOR: help;
                    TEXT-DECORATION: none
                  }
.ctl_visible,
.ctl_hidden       { z-index:10; }

span.tctl         { cursor: pointer }
.menutitle {
    color: blue;
    font-size: 10pt;
    background-color: transparent;
    font-weight: bold;
    font-family: sans-serif;
    cursor:        pointer;
    padding-top:   5px;
    padding-left:  5px;
    padding-right: 5px;
}
#.activeTrack {
#    background-color: lightsteelblue;
#}
.datatitle {
    height: 25px;
}
.menutitle:hover {
    text-decoration: underline;
}
div.config-title {
    background:gainsboro;
    padding:5px;
    font-weight:bold;
}
img.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    background-color: lightgray;
    border: double;
}
span.list {
    font-size: 8pt;
    font-style: italic;
}

span.show {
    font-weight: bold;
}

span.hide {
    font-weight: normal;
}

div.ipadcollapsed 
		{
/* 		background-image: url(object_13.png);  */
		background-repeat:no-repeat;
		/*background-color: #000F86;*/
		background-position: 0% 50%;
		color: white;
		font-size: 16pt;
		text-align :center; 
		border-style:solid; 
		border-color:white; 
		 /*"collapse('$label')",*/
	
		}

div.ipadcollapsed:active  
		{
		/*background-image: url('menulinkactive.png');*/
		color:black;
		/*color: #FFF8F8;
		font-size: 16pt;
		text-decoration: underline;
		text-align :center; */
		 /*"collapse('$label')",*/
	
		}

div.linkbg {
		background-image: url('menulink.png');
		background-repeat: no-repeat;
		background-position: 50% 0%;
		}
div.linkbg:active {
		background-image: url('menulinkactive.png');
		background-repeat: no-repeat;
		background-position: 50% 0%;
		}
div.ipadtitle 
		{
		border-bottom: solid black;
		border-top: solid black;
		color: black;
		font-size: 16pt;
		text-align :center;
/*  		border-style:solid; */ 
/* 		border-color:black; */
	
		 /*"collapse('$label')",*/
}

span.ficon:active{
  
background-image: url('ficonactive.png');

}


	#dhtmlgoodies_leftPanel ul{
		padding-left:20px;
		margin-left:0px;
	}
	#dhtmlgoodies_leftPanel div{
		padding:3px;
	}
	#mainContent{
		width:660px;
		margin-left:150px;
		background-color:#FFF;
		padding-right:5px;
		border-left:1px solid #000;
		border-right:1px solid #000;
		border-bottom:1px solid #000;
		
	}

	/* END CSS ONLY NEEDED FOR THIS DEMO PAGE */
	
	#dhtmlgoodies_leftPanel{	/* Styling the help panel */
		
		background-color: #FAFAD2;	
		color:#000000;	/* White text color */
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Which font to use */
		
		/* You shouldn't change these 5 options unless you need to */		
		height:100%;		
		left:0px;
		z-index:10;
		position:absolute;
		display:none;
 		 
	}
	
	#dhtmlgoodies_leftPanel #leftPanelContent{
		padding:0px;
	}
	#dhtmlgoodies_leftPanel .closeLink{ /* Layout of close link */
		padding-left:2px;
		padding-right:2px;
		background-color:#FFF;
		position:absolute;
		top:2px;
		right:2px;
		border:1px solid #000;
		color:#000;
		font-size:1.2em;				
	}
	#dhtmlgoodies_leftPanel .closeLink:hover{	/* Close link text  - mouseover effect*/
		color:#FFF;
		background-color:#000;
	}	
	
	div.normal{
		font-style:normal;
		    }
z
  