div.hilite {
    position:     absolute;
    background:   blue;
    cursor:       pointer;
    filter:       alpha(opacity=50);
    opacity:      0.7;
}
div.nohilite {
    position:   absolute;
    background: transparent;
}
span.hilite {
    position:     absolute;
    background:   blue;
    filter:       alpha(opacity=50);
    opacity:      0.7;
}
span.nohilite {
    position:   absolute;
    background: transparent;
}
tr.hilite {
  background-color: lightblue;
  cursor:     default;
  color:      yellow;
}
tr.nohilite {
  background-color: transparent;
  color: black;
}
div#scrolling_table {
  position:   relative;
  max-height: 300px;
  width:      100%;
  background: transparent;
  overflow:   auto;
}
