.titlebar         {
                     position: relative;
                     right: 0px;
                  }
.titlebar_inactive {
                     position: relative;
                     right: 0px;
                  }
