.titlebar         {
                     position: absolute;
                     text-align: right;
                  }
.titlebar_inactive {
                     position: absolute;
                     text-align: right;
                  }
