.titlebar         {
                     position: absolute;
		     text-align: right;	
		     left: 5em;
                  }
.titlebar_inactive {
                     position: absolute;
		     text-align: right;	
		     left: 5em;
                  }
