.track            {
		  z-index: 0;
		  padding-top:    10;
		  padding-bottom: 10;
		  }
.centered_block {
		  margin-left: auto;
		  margin-right: auto;
}
.scale            { 
		  text-align: center;
		  margin-left: auto;
		  margin-right: auto;
		  }
IMG.trackimg      {  
                       margin-top: -10px;
                       text-align: center;
                  }
.titlebar         {  background-color: #FFD39B;
                     cursor: move;
                     z-index: 10;
                     opacity: 1.0;
                     font-size: 9pt;
                     font-weight: bold;
                  }
.titlebar_inactive { background-color: #E0E0E0;
                     cursor: move;
                     z-index: 10;
                     opacity: 1.0;
                     font-size: 9pt;
                     font-weight: bold;
                  }
.titlebar:hover {
	     background:lightsteelblue; 
	      }
.subtrack {
    z-index:11;
    position:absolute;
    font-weight:bold;
    font-size: 9pt;
}
