div.subtrack_table {
    overflow:auto; 
    resize: both; 
    height:300px; 
    width:500px; 
    border:1px solid black" 
}

tbody.sortable tr {
    cursor: move;
}

table.subtrack-table {
        width: 100%;
	border-collapse:collapse;
	font-size: 10pt;
}
table.subtrack-table th, table.subtrack-table td {
	padding: 1px 10px 1px 10px;
}
table.subtrack-table thead th {
        border: 1px solid black;
	background-color:#ccccff;
}
table.subtrack-table tfoot td {
	background-color:#ffccff;
}

table.subtrack-table tr.tbody_header {
	font-weight:bold;
	text-align:center;
	background-color:#dddddd;
}

table.subtrack-table a.pagelink {
	padding-left:5px;
	padding-right:5px;
	margin:0px 5px 0px 5px;
}
table.subtrack-table a.currentpage {
	background-color:yellow;
}

/* Striping */
tr.alternate {
	background-color:#ffffcc;
}
tr.unselected {
       background-color: transparent;
}
tr.selected {
        background-color: orange;
}

/* Sorting */
th.table-sortable {
	cursor:pointer;
	background-image:url("../images/buttons/sortable.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-asc {
	background-image:url("../images/buttons/sorted_up.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-sorted-desc {
	background-image:url("../images/buttons/sorted_down.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-filtered {
	background-image:url("../images/buttons/filter.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
select.table-autofilter {
	font-size:smaller;
}

/* Examples which stray from the default */
table.altstripe tr.alternate2 {
	background-color:#ccffff;
}

