[% PROCESS "helperfunctions.tt2" %]
<form name="mainform" action="[% action %]" method="POST">
  <!-- navigation table -->
  [% PROCESS "navigationtable.tt2" %]

  [% htmlfrag2 %]

  <!-- genome browser images -->
  [% IF segments && segments.size() > 1 %]
    [% multiple_segments %]
  [% ELSE %]
    [% PROCESS "overviewpanel.tt2" %]
    [% #PROCESS "detailpanel.tt2"   %]
    [% detailpanel   %]
  [% END %]

  [% htmlfrag3 %]

  <!-- plugins_table -->
  [% PROCESS "pluginstable.tt2" %]

  [% htmlfrag4 %]

  <!-- tracks_table -->
  [% PROCESS "trackstable.tt2" %]

  [% htmlfrag5 %]

  <!-- settings_table -->
  [% PROCESS "optionstable.tt2" %]

  [% htmlfrag6 %]
</form>

<form name="externalform" encoding="multipart/form-data"><p/>
  <!-- upload table -->
  [% PROCESS "uploadtable.tt2" %]

  <p/>

  <!-- external table -->
  [% #PROCESS "externaltable.tt2" %]
</form>
