<script src="/gbrowse/js/x_core.js" type="text/javascript"></script>
<script src="/gbrowse/js/x_cook.js" type="text/javascript"></script>
<script src="/gbrowse/js/toggle.js" type="text/javascript"></script>
<script src="/gbrowse/js/buttons.js" type="text/javascript"></script>
