<b>[% browser.translate('data_source') %]</b><br/>
<select name="source">
[% FOREACH source = browser.config.sources %]
  <option value="[% source %]">[% browser.config.description(source) %]</option>
[% END %]
</select>
