[%- SET footer_template = config.footer_template -%]
[%- IF footer_template -%]
  [% PROCESS $footer_template %]
[%- END -%]

<!-- Print "footer" defined in the config file (this is for backwards compatibility) -->
[% config.footer %]
<p>
  <i><font size="small">[% config.tr('FOOTER_1') %]</font></i>
  <br/>
  <!-- FIXME version number needs to be passed with FOOTER_2 -->
  <tt><font size="small">[% config.tr('FOOTER_2') %]</font></tt>
</p>
