A:link            { text-decoration: none; 
                    color: #0000FF;
                  }
A:visited         { text-decoration: none; 
                    color: #AA0088;
                  }
A:hover           { text-decoration: underline; 
                  }
A.banner          { color  : #FFFFFF;
                    font-size : small;
                    text-decoration : none;
                  }
A.bblue           { color: #FFFFFF;
                    background-color: #9999FF;
                    font-size : small;
                    text-align: center;
                  }
A.bred            { color: #FFFFFF;
                    background-color: #FF6666;
                    font-size : small;
                    text-align: center;
                  }
BODY              { background-color: white; 
                    font-family: sans-serif;
	            font-size: small;
                  }
H1                { color: #3366FF; 
                    font-family: sans-serif; 
                  }
H2                { color: #3366FF; 
                    font-family: sans-serif; 
                  }
H3                { color: #3366FF; 
                    font-family: sans-serif; 
                  }
H4                { color: #3366FF; 
                    font-family: sans-serif; 
                  }
INPUT             { background-color: white; }
P                 { font-family: sans-serif; }
SELECT            { background-color: white; }
TABLE             { padding: 0;
                    spacing: 0;
                    width: 100%;
                  }
TD                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
		  }
TH                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
                  }
TH.linkmenu       { 
                    font-family: sans-serif;
                    padding: 0;
                    font-size: 9pt;
                  }
.reset_button     {background-color: red;
	            color: yellow;           
                  }
.datatitle        { background-color: khaki; }
.databody         { background-color: lightgoldenrodyellow; }
.searchtitle      { background-color: khaki;
	            font-size: small;
}
.searchbody       { background-color: lightgoldenrodyellow;
	            font-size: small;
}
.settingstitle    { background-color: DarkKhaki;
	            font-size: small;
}
.settingsbody     { background-color: khaki;
	            font-size: small;
}
.uploadtitle      { background-color: DarkKhaki;
	            font-size: small;
}
.uploadbody       { background-color: khaki;
	            font-size: small;
}
.technicalinfo    { background-color: #FFFFFF; }
.toggle           { color: #3366FF; }
.error            { color: red; }
.note             { color: red; }
.pre              { font-family: monospace; }
.popup            { COLOR: #9F141A;
                    CURSOR: help;
                    TEXT-DECORATION: none
                  }
#autoComplete1 {  position:relative;text-align:left;z-index:9050; }
#autoCompleteSearch1 { position:relative; }
#autoCompleteInput1     { position:relative;width:20em;height:1.7em}
#autoCompleteContainer1 { position:absolute;text-align:left;left:0;top:1.7em;disp
lay:inline;}
#autoCompleteContainer1 .yui-ac-content { position:absolute;padding:0;left:0;top:0;width:20em; border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050}
#autoCompleteContainer1 .yui-ac-shadow { position:absolute;left:0;top:0;margin:0.3em;background:#a0a0a0;z-index:9049}
#autoCompleteContainer1 ul { padding:5px 0;margin:0;width:100%; }
#autoCompleteContainer1 li { padding:0 5 px;cursor:default;white-space:nowrap; }
#autoCompleteContainer1 li.yui-ac-highlight { background:#ff0; }
#autoCompleteSubmit1 { position:relative; }
