.titlebar         {
                     position: relative;
                     right: -100px;
		     cursor: move;
                  }
.titlebar_inactive {
                     position: relative;
                     right: -100px;
		     cursor: move;
                  }
